<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://www.ibanbic.be/IBANBIC.asmx" binding="basicHttpBinding" bindingConfiguration="IBANBICSoap" contract="Queaso.Northwind.Contract.IIBANSoap" name="IBANBICSoap" />
      <!--<endpoint address ="http://www.ibanbic.be/IBANBIC.asmx"
                binding="customBinding"
                bindingConfiguration="IBANBICSoap12"
                contract ="Queaso.Northwind.Contract.IIBANSoap" />-->
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="IBANBICSoap" />
      </basicHttpBinding>
      <!--<customBinding>
        <binding name="IBANBICSoap12">
          <textMessageEncoding messageVersion="Soap12" />
            <httpTransport />
          </binding>
        </customBinding>-->
    </bindings>
  </system.serviceModel>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.11.0" newVersion="1.2.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>