<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  <!--General configuration-->
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
  </configSections>

  <!--Default Common Logging Configuration-->
  <common>
    <logging>
      <!--<factoryAdapter type="Common.Logging.Simple.ConsoleOutLoggerFactoryAdapter, Common.Logging">
        <arg key="level" value="DEBUG" />
        <arg key="showLogName" value="true" />
        <arg key="showDataTime" value="true" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
      </factoryAdapter>-->
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1213">
        <!--<arg key="configType" value="INLINE" />-->
        <arg key="configType" value="FILE-WATCH" />
        <arg key="configFile" value="~/App_Config/log4net.config" />
      </factoryAdapter>
    </logging>
  </common>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Queaso.Northwind.Service.CustomerService">
      <!--<service name="Queaso.Northwind.Service.CustomerService" behaviorConfiguration="CustomerServiceBehavior">-->
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingConfiguration" contract="Queaso.Northwind.Contract.ICustomerService" />
       </service>
    </services>
    <bindings>
      <!--WCF Bindings (BasicHttpBinding)-->
      <basicHttpBinding>
        <binding name="BasicHttpBindingConfiguration">
          <security mode="TransportCredentialOnly">
            <transport clientCredentialType="Windows" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <!--WCF Behaviors-->
    <!--<behaviors>
      <serviceBehaviors>
        <behavior name ="CustomerServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults ="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>-->
    
    <serviceHostingEnvironment>
      <serviceActivations>
        <add service="Queaso.Northwind.Service.CustomerService" relativeAddress="CustomerService.svc" factory="Queaso.WebHosting.CustomHostFactory" />
      </serviceActivations>
    </serviceHostingEnvironment>
  </system.serviceModel>
  <!--<system.net>
    <defaultProxy>
      <proxy bypassonlocal ="False" usesystemdefault="True" proxyaddress="http://127.0.0.1:8888" />
    </defaultProxy>
  </system.net>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.13.0" newVersion="1.2.11.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>